@model Netplanetes.CMS.Web.Areas.Admin.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "パスワードの編集";
}
<article>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.UserName, new { @class = "control-label" })
            @Html.EditorFor(x => x.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.CurrentPassword, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CurrentPassword, "", new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NewPasswordConfirm, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.NewPasswordConfirm, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPasswordConfirm, "", new { @class = "control-label" })
        </div>
        @Html.HiddenFor(x => x.ID)
        <input type="submit" class="btn btn-primary" title="変更" value="変更" />
    }
</article>
